#cloud-config
password: cisco
chpasswd: { expire: False }
hostname: podinfra_jumphost
write_files:
  - path: /etc/netplan/50-cloud-init.yaml
    owner: root:root
    permissions: '0600'
    content: |-
      network:
        version: 2
        renderer: networkd
        ethernets:
          ens2:
            dhcp4: no
            addresses:
              - 192.168.202.250/29
            routes:
            - to: 0.0.0.0/0
              via: 192.168.202.249
            nameservers:
              addresses: [8.8.8.8]
  - path: /etc/rc.local
    owner: root:root
    permissions: '0755'
    content: |-
      #!/bin/sh
      cd /home/ubuntu
      if $(curl --output /dev/null --silent --head --insecure --fail https://jenkins.tooling.provider.test:8084/whoAmI); then
        wget --no-check-certificate https://jenkins.tooling.provider.test:8084/jnlpJars/agent.jar
        echo "CICD Toolbox installed. Retrieved agent.jar from CICD-Toolbox."  >>/home/ubuntu/install-log.txt
        agent=1
        echo comPodinfra_secret > secret-file
        chown ubuntu:ubuntu secret-file
        sudo -H -u ubuntu java -jar agent.jar -noCertificateCheck -jnlpUrl https://jenkins.tooling.provider.test:8084/computer/comPodinfra_agent/jenkins-agent.jnlp -secret @secret-file -workDir "/home/ubuntu" &
      else
        echo "CICD Toolbox not installed. Skipping Jenkins agent start." >>/home/ubuntu/install-log.txt
      fi
      # setting git server
      if wget -q --no-check-certificate --method=HEAD https://gitea.tooling.provider.test:3000/infraautomator/ ; then
        echo "Setting git to Gitea." >>/home/ubuntu/install-log.txt
        export GIT_URL=https://gitea.tooling.provider.test:3000/infraautomator/ >> /etc/profile
      else
        echo "Setting git to Github." >>/home/ubuntu/install-log.txt
        export GIT_URL=https://github.com/Devoteam/ >> /etc/profile
      fi
      # Setting Ubuntu repo to proxy host to enable curated packages
      if $(wget --no-check-certificate https://nexus.tooling.provider.test:8081); then
        echo "CICD Toolbox installed. Setting deb repositories to Nexus." >>/home/ubuntu/install-log.txt
        echo "To be done"  >>/home/ubuntu/install-log.txt
      fi
runcmd:
  - netplan apply

power_state:
  mode: reboot
  message: Rebooting to make all changes active
  timeout: 5
  condition: True