export TF_VAR_cml_username="developer"
export TF_VAR_cml_password="C1sco12345"
export TF_VAR_cml_host="cml.tooling.provider.test"
export TF_VAR_cml_url="https://${TF_VAR_cml_host}"
export PGUSER="terraform"
export PGPASSWORD="terraform"
export ib_user="admin"
export ib_pwd="infoblox"
export ib_grid_secret="!IBvpn01"
export ib_host_name="gridmaster.tooling.provider.test"